<!DOCTYPE html>
<html>
<head>
  <title>Simclimate</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script type="text/javascript" 
  src="https://maps.googleapis.com/maps/api/js?libraries=visualization&key=AIzaSyDdYfcB7Pl1J2K0Ed9iWGT1nUfEjqAsFyI"></script>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="menu">
    <%= render partial: "/layouts/menu" %>
</div>

<%= yield %>

</body>
</html>
